.content {
  overflow: auto;
  height: 450px;
  overflow-y: scroll;
}
.content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.sizeButton{
    width: 250px;
}

@media (min-width: 350px) and (max-width: 767.98px) {
    .sizeButton{
      width: 290px;
      margin-left: -33px;      
    }
    .content{
      height: 390px !important;
    }
}